{% set title = "Jobs" %}

{% set elementType = 'lilthq\\craftliltplugin\\elements\\Job' %}

{% extends '_layouts/elementindex.html' %}

{% block actionButton %}
    <a id="lilt-sync-jobs" class="btn big icon btn-create-new-job disabled" data-icon="refresh">{{ 'Sync job(s)'|t }}</a>
    <a class="btn big submit icon btn-create-new-job" data-icon="language" href="{{ url('craft-lilt-plugin/job/create') }}">{{ 'New job'|t }}</a>
{% endblock %}

{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#page-container'), {
    elementTypeName: '{{ elementInstance.displayName()|e("js") }}',
    elementTypePluralName: '{{ elementInstance.pluralDisplayName()|e("js") }}',
    context: '{{ context }}',
    storageKey: 'elementindex.{{ elementType|e("js") }}',
    criteria: Craft.defaultIndexCriteria,
    toolbarSelector: '#toolbar',
    canHaveDrafts: {{ (canHaveDrafts ?? false) ? 'true' : 'false' }},
    });
{% endblock %}