{% extends "utilities/_index.twig" %}

{% set selectedSubnavItem = 'settings' %}

{% block sidebar %}
    <nav aria-label="{{ 'Utilities'|t('app') }}">
        <ul>
            {% for utility in utilities %}
                {% set selected = utility.id == id %}
                <li>
                    <a class="{% if selected %}sel{% elseif utility.badgeCount %}has-badge{% endif %}" href="{{ url('craft-lilt-plugin/settings/'~utility.id) }}">
                        <span class="icon icon-mask" aria-hidden="true">{{ svg(utility.iconSvg, sanitize=false) }}</span>
                        <span class="label">{{ utility.displayName }}</span>
                        {% if not selected and utility.badgeCount %}
                            <span class="badge">{{ utility.badgeCount|number(decimals=0) }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}