{% import '_includes/forms' as forms %}

<div id="translations" class="flex-fields">
    <div class="heading" style="min-height: 30px">
        <h3 style="float:left;">Translations</h3>
        <div id="translations-review-action" data-icon="view" class="btn submit" style="float:right">
            Review changes
        </div>
    </div>

    <table id="lilt-translations-table" class="elements data fullwidth" style="margin-top: 20px">
        <thead>
        <tr>
            <th class="checkbox-cell selectallcontainer orderable" role="checkbox" tabindex="0" aria-checked="false"
                aria-label="Select all">
                {{ forms.checkbox({
                    name: 'translationIdsSelectAll',
                    value: 'all'
                }) }}
            </th>
            <th scope="col" data-attribute="title">Title</th>
            <!-- <th scope="col" data-attribute="sourceSiteId">Source locale</th> -->
            <th scope="col" data-attribute="targetSiteIds">Target locale</th>
            <th scope="col" data-attribute="dueDate">Last delivery</th>
            <th scope="col" data-attribute="status">Status</th>
            <!--<th scope="col" data-attribute="link" data-icon="world" title="Preview" aria-label="Preview"></th>-->
            <th scope="col" data-attribute="link" title="Actions" aria-label="Actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for translation in element.translations %}
            <tr data-id="{{ translation.id }}" data-status="{{ translation.status }}"
                data-title="{{ element.elementsMappedById[translation.elementId].title }}" tabindex="0">
                <td class="checkbox-cell">
                    <!--<div class="checkbox" title="Select" aria-label="Select"></div>-->
                    {{ forms.checkbox({
                        name: 'translationIds[]',
                        value: translation.id,
                    }) }}
                </td>
                <th data-title="Title" data-titlecell="">
                    <div class="element small"
                         data-id="{{ translation.id }}"
                         data-draft-id="{{ translation.translatedDraftId }}"
                         data-element-id="{{ translation.elementId }}"
                    >
                        <div class="label">
                    <span class="title">
                        <a href="{{ translation.getDraftEditUrl }}"
                           target="_blank">{{ element.elementsMappedById[translation.elementId].title }}</a>
                    </span>
                        </div>
                    </div>
                </th>

                <!-- <td data-title="Site source" data-attr="sourceSiteId"><span class="source-language" data-icon="world">{{ translation.sourceLocale }}</span> -->

                <td data-title="Target source" data-attr="targetLocale">
                    <span class="source-language" data-icon="world"></span>{{ translation.targetLocale }}
                </td>

                <td data-title="Due Date" data-attr="dueDate">{{ translation.lastDelivery }}</td>

                <td data-title="Status" data-attr="status"><span style="white-space: nowrap;"><span
                                class="status {{ translation.statusColor }}"></span>{{ translation.statusLabel }}</span>
                </td>

                <!-- <td data-title="Preview" data-attr="preview">
                <a href="{{ translation.previewUrl }}" title="Visit webpage" rel="noopener" target="_blank"
                   data-icon="world"></a>
            </td> -->

                <td data-title="Action" data-attr="preview" style="font-size: 14pt">
                    <span class='lilt-review-translation {{ translation.status is same as 'published' or translation.status is same as 'failed'  or translation.status is same as 'new' ? 'disabled' : '' }}'
                          title="Review" data-id="{{ translation.id }}"
                          data-title="{{ element.elementsMappedById[translation.elementId].title }}" data-icon="view"
                          style="margin-right: 5px;color: #0b69a3;cursor: pointer;"></span>
                    <a href="{{ translation.previewUrl }}" title="Visit webpage" rel="noopener" target="_blank"
                       data-icon="world"></a>
                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
<div id="overview" class="flex-fields hidden">
    {% include 'craft-lilt-plugin/_components/job/_form.twig' %}
</div>