<div id="lilt-modal-preview-tabs">
    <div id="content" class="content-pane">
        <header id="content-header" class="pane-header">
            <nav id="tabs" class="pane-tabs">
                <ul class="">
                    <li data-id="preview">
                        <a id="tab-preview" class="sel" data-id="preview">
                            {{ 'Preview'|t('craft-lilt-plugin') }}
                        </a></li>
                    <li data-id="translation">
                        <a id="tab-translation" data-id="translation">
                            {{ 'Text'|t('craft-lilt-plugin') }}
                        </a></li>
                </ul>
            </nav>
        </header>

        <div id="translation" class="flex-fields hidden">
            <!-- <div class="flex-container">

                <div class="flex-child magenta">
                    {% for key,value in translation.sourceContentValues %}
                        <div>
                            <span>{{ value }}</span><span data-icon="copy"></span>
                        </div>
                        <hr />
                    {% endfor %}
                </div>

                <div class="flex-child green">
                    {% for key,value in translation.targetContentValues %}
                        <div>
                            <span>{{ value }}</span><span data-icon="copy"></span>
                        </div>
                        <hr />
                    {% endfor %}
                </div>
            </div>-->
            <table style="height: 100%;width: 100%; margin-top: -24px">
                <tr style="text-align: center;padding: 0">
                    <td style="text-align: center;padding: 0;padding-top: 10px"><span data-icon="world"
                                                                                      style="margin-right: 5px"></span>{{ translation.sourceLocale }}
                    </td>
                    <td style="text-align: center;padding: 0;padding-top: 10px"><span data-icon="world"
                                                                                      style="margin-right: 5px"></span>{{ translation.targetLocale }}
                    </td>
                </tr>
                {% for key,value in translation.sourceContentValues %}
                    <tr style="font-size: 10px;padding: 0px">
                        <td style="color: grey">
                            <div>
                                <div class="translation-text" style="float: left;">{{ key }}</div>
                                <span class="lilt-text-copy-to-clipboard" data-icon="clipboard"
                                      style="float:right"></span></div>
                        </td>
                        <td style="color: grey">
                            <div>
                                <div class="translation-text" style="float: left;">{{ key }}</div>
                                <span class="lilt-text-copy-to-clipboard" data-icon="clipboard"
                                      style="float:right"></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td data-translation-key="{{ key }}" data-source="original">{{ value }}</td>
                        <td data-translation-key="{{ key }}"
                            data-source="translated">{{ translation.targetContentValues[key] ?? 'Undefined' }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div id="preview" class="flex-fields">
            <div class="iframe-box">
                <div class="locale">
                    <a href="{{ originalUrl }}" target="_blank">
                        <span data-icon="world" style="margin-right: 5px"></span>{{ translation.sourceLocale }}
                    </a>
                </div>
                <iframe src="{{ originalUrl }}"></iframe>
            </div>

            <div class="iframe-box">
                <div class="locale">
                    <a href="{{ previewUrl }}" target="_blank">
                        <span data-icon="world" style="margin-right: 5px"></span>{{ translation.targetLocale }}
                    </a>
                </div>
                <iframe src="{{ previewUrl }}"></iframe>
            </div>
        </div>
    </div>
</div>