<div id="lilt-modal-preview-tabs">
    <div class="content-pane">
        <header class="pane-header">
            <div class="pane-tabs">
                <div class="" role="tablist" aria-label="Primary fields">
                    <a id="tab-preview" class="sel"
                       tabindex="0"
                       role="tab"
                       data-id="preview"
                       aria-controls="preview"
                       aria-selected="true">
                        {{ 'Preview'|t('craft-lilt-plugin') }}
                    </a>
                    <a id="tab-text-preview"
                       tabindex="-1"
                       role="tab"
                       data-id="text-preview"
                       aria-controls="text-preview"
                       aria-selected="false"> Submited job
                    </a>
                </div>
            </div>
        </header>
        <div id="text-preview" class="flex-fields hidden">
            <table>
                <tr style="text-align: center;padding: 0">
                    <td style="text-align: center;padding: 0;padding-top: 10px"><span data-icon="world"
                                                                                      style="margin-right: 5px"></span>{{ translation.sourceLocale }}
                    </td>
                    <td style="text-align: center;padding: 0;padding-top: 10px"><span data-icon="world"
                                                                                      style="margin-right: 5px"></span>{{ translation.targetLocale }}
                    </td>
                </tr>
                {% for key,value in translation.sourceContentValues %}
                    {% set targetTranslationValue = translation.targetContentValues[key] ?? null %}
                    {% if value is empty and targetTranslationValue %}
                    {% else %}
                        <tr style="font-size: 10px;padding: 0">
                            <td style="color: grey">
                                <div>
                                    <div class="translation-text" style="float: left;">{{ key }}</div>
                                    <span class="lilt-text-copy-to-clipboard" data-icon="clipboard"
                                          style="float:right"></span></div>
                            </td>
                            <td style="color: grey">
                                <div>
                                    <div class="translation-text" style="float: left;">{{ key }}</div>
                                    <span class="lilt-text-copy-to-clipboard" data-icon="clipboard"
                                          style="float:right"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td data-translation-key="{{ key }}" data-source="original">{{ value }}</td>
                            <td data-translation-key="{{ key }}"
                                data-source="translated">{{ translation.targetContentValues[key] ?? 'Undefined' }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div id="preview" class="flex-fields">
            <div class="iframe-box">
                <div class="locale">
                    <a href="{{ originalUrl }}" target="_blank">
                        <span data-icon="world" style="margin-right: 5px"></span>{{ translation.sourceLocale }}
                    </a>
                </div>
                <iframe src="{{ originalUrl }}"></iframe>
            </div>

            <div class="iframe-box">
                <div class="locale">
                    <a href="{{ previewUrl }}" target="_blank">
                        <span data-icon="world" style="margin-right: 5px"></span>{{ translation.targetLocale }}
                    </a>
                </div>
                <iframe src="{{ previewUrl }}"></iframe>
            </div>
        </div>
    </div>
</div>
