{% import '_includes/forms' as forms %}

<form method="post" id="create-job-form" accept-charset="UTF-8" action="{{ formActionUrl }}">
    {{ csrfInput() }}

    {% if element %}
        {{ forms.textField({
            name: 'jobId',
            id: 'jobId',
            value: element.id,
            class: 'hidden'
        }) }}
    {% endif %}

    {{ forms.textField({
        label: 'Job title <span class="required"/>'|t,
        placeholder: 'Translation job title',
        name: 'title',
        id: 'title',
        value: element.title ?? '',
        errors: model is defined and model ? model.getErrors('title'),
        maxlength: 255,
        errors: element.getErrors('title'),
        disabled: (constant('STATUS_IN_PROGRESS', element) is same as element.getStatus())
    }) }}

    <hr />

    <div id="entries-to-translate-field" class="field">
        <div class="heading">
            {{ forms.textField({
                label: 'Entries <span class="required"/>'|t,
                name: 'entries',
                id: 'create-job-selected-entries',
                class: 'create-job-selected-entries hidden',
                value: element.getElementIdsAsString ?? '[]',
                errors: model is defined and model ? model.getErrors('title'),
                maxlength: 255,
                errors: element.getErrors('elementIds'),
            }) }}
            {{ forms.textField({
                name: 'versions',
                id: 'create-job-selected-versions',
                class: 'create-job-selected-versions hidden',
                value: element.getVersionsAsString ?? '[]',
            }) }}
        </div>
        <div class="content-pane" id="entries-to-translate" style="display: none; margin-top: 20px">
            <div style="display: none">
                {% include '_elements/toolbar' with {
                    showSiteMenu: false,
                } %}
            </div>
            <div class="main">
                <div class="elements {{ isJobInProgress ? 'disabled' : '' }}"></div>
            </div>

            <div id="toolbar-element-index" class="flex flex-nowrap"></div>
        </div>

        <div class="flex">
            <div class="submit">
                {% if(constant('STATUS_IN_PROGRESS', element) is same as element.getStatus()) %}
                    <button type="button" class="btn add icon dashed disabled">{{ 'Add an entry'|t }}</button>
                {% endif %}
                {% if(constant('STATUS_IN_PROGRESS', element) is not same as element.getStatus()) %}
                    <button type="button" class="btn add icon dashed addAnEntry">{{ 'Add an entry'|t }}</button>
                {% endif %}
            </div>
            <div id="entries-remove-action" class="btn submit" style="visibility: hidden;float:right">
                Remove
            </div>
        </div>
    </div>

    <hr />

    {{ forms.selectField({
        label: 'Source site <span class="required"/>',
        options: availableSites,
        name: 'sourceSite',
        id: 'sourceSite',
        value: element.sourceSiteId ?? '',
        errors: element.getErrors('sourceSiteId'),
        disabled: (constant('STATUS_IN_PROGRESS', element) is same as element.getStatus())
    }) }}

    {{ forms.checkboxSelectField({
        label: 'Target site(s) <span class="required"/>',
        options: targetSites,
        values: element.getTargetSiteIds,
        showAllOption: true,
        name: 'targetSiteIds',
        id: 'targetSiteIds',
        errors: element.getErrors('targetSiteIds'),
        disabled: (constant('STATUS_IN_PROGRESS', element) is same as element.getStatus()),
        class: (constant('STATUS_IN_PROGRESS', element) is same as element.getStatus() ? 'disabled' : '')
    }) }}

    <hr/>

    <a class="fieldtoggle collapsed" data-target="types-craft-fields-Assets-advanced">Advanced</a>
    <div id="types-craft-fields-Assets-advanced" class="hidden" style="overflow: hidden; height: 0px;">

        {{ forms.selectField({
            label: 'Translation(s) Workflow <span class="required"/>',
            options: translationWorkflowsOptions,
            showAllOption: true,
            name: 'translationWorkflow',
            id: 'translationWorkflow',
            value: element.translationWorkflow ?? defaultTranslationWorkflow,
            errors: element.getErrors('liltTranslationWorkflow'),
            disabled: (constant('STATUS_IN_PROGRESS', element) is same as element.getStatus()),
            class: (constant('STATUS_IN_PROGRESS', element) is same as element.getStatus() ? 'disabled' : '')
        }) }}

    </div>

</form>