{% import '_includes/forms' as forms %}

{% block settings %}
    {# TODO: do we need author? #}
    {{ forms.elementSelectField({
        status: element.getAttributeStatus('authorId'),
        label: "Author"|t('app'),
        id: 'author',
        name: 'author',
        elementType: userElementType,
        selectionLabel: "Choose"|t('app'),
        criteria: authorOptionCriteria,
        limit: 1,
        elements: (author is defined and author ? [author]),
        disabled: not ((constant('STATUS_NEW', element) is same as element.getStatus() or constant('STATUS_DRAFT', element) is same as element.getStatus()))
    }) }}

    {% if element.id is defined and element.id > 0 %}
    <div class="field">
        <div class="heading">
            <label id="meta-settings-job-id-label" for="meta-settings-job-id">Job ID</label>
        </div>
        <div class="ltr" id="meta-settings-job-id">{{element.id}}</div>
    </div>
    {% endif %}

    {% if element.liltJobId is defined and element.liltJobId is not null %}
    <div class="field">
        <div class="heading">
            <label id="meta-settings-lilt-id-label" for="meta-settings-lilt-id">Lilt ID</label>
        </div>
        <div id="meta-settings-lilt-id" class="ltr">{{element.liltJobId}}</div>
    </div>
    {% endif %}

    {% if element.sourceSiteId is defined and element.sourceSiteId is not null %}
    <div class="field">
        <div class="heading">
            <label id="meta-settings-source-site-label" for="meta-settings-source-site">Source Site</label>
        </div>
        <div id="meta-settings-source-site" class="ltr">{{ element.sourceSiteIdHtml | raw }}</div>
    </div>
    {% endif %}

    {% if element.targetSiteIds is defined and element.targetSiteIds is not null and element.targetSiteIds is not empty %}
    <div class="field">
        <div class="heading">
            <label id="meta-settings-target-sites-label" for="meta-settings-target-sites">Target Site(s)</label>
        </div>
        <div id="meta-settings-target-sites" class="ltr" style="padding-top: 10px; padding-bottom: 10px">{{ element.targetSiteIdsHtml | raw }}</div>
    </div>
    {% endif %}

    {% if element.translationWorkflow is defined and element.translationWorkflow is not null %}
    <div class="field">
        <div class="heading">
            <label id="meta-settings-translation-workflow-label" for="meta-settings-translation-workflow" style="white-space: nowrap;">Translation workflow</label>
        </div>
        <div id="meta-settings-translation-workflow" class="ltr" style="padding-top: 10px; padding-bottom: 10px">{{ element.translationWorkflowLabel}}</div>
    </div>
    {% endif %}
{% endblock %}