{% import "_includes/forms" as forms %}

<div class="readable">
    <h2>{{ "Configuration options"|t('app') }}</h2>

    <form method="post" id="create-job-form" accept-charset="UTF-8" action="{{ formActionUrl }}">
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'API Key <span class="required"/>'|t,
            placeholder: 'API Key',
            name: 'connectorApiKey',
            id: 'connectorApiKey',
            value: connectorApiKey ?? '',
            maxlength: 255,
            errors: model is defined? model.getErrors('connectorApiKey') : [],
        }) }}

        {{ forms.textField({
            label: 'API URL <span class="required"/>'|t,
            placeholder: 'API Url',
            name: 'connectorApiUrl',
            id: 'connectorApiUrl',
            value: connectorApiUrl ?? '',
            maxlength: 255,
            errors: model is defined? model.getErrors('connectorApiUrl') : [],
        }) }}

        {{ forms.textField({
            label: 'Project Prefix'|t('craft-lilt-plugin'),
            placeholder: 'Project Prefix',
            name: 'projectPrefix',
            id: 'projectPrefix',
            value: projectPrefix ?? '',
            maxlength: 255,
            errors: model is defined? model.getErrors('projectPrefix') : [],
            disabled: liltConfigDisabled
        }) }}

        {{ forms.textField({
            label: 'Project Name Template'|t('craft-lilt-plugin'),
            placeholder: 'Project Name Template',
            name: 'projectNameTemplate',
            id: 'projectNameTemplate',
            value: projectNameTemplate ?? '',
            maxlength: 255,
            errors: model is defined? model.getErrors('projectNameTemplate') : [],
            disabled: liltConfigDisabled
        }) }}

        {{ forms.selectField({
            label: 'Lilt Translation Workflow <span class="required"/>',
            options: liltTranslationWorkflowAllowableValues,
            name: 'liltTranslationWorkflow',
            id: 'liltTranslationWorkflow',
            value: liltTranslationWorkflow ?? '',
            errors: model is defined? model.getErrors('liltTranslationWorkflow') : [],
            disabled: liltConfigDisabled
        }) }}

        <div class="field">
        {{ forms.checkbox({
            label: 'Enable entries for target site on translation publish',
            name: 'enableEntriesForTargetSites',
            id: 'enableEntriesForTargetSites',
            checked: enableEntriesForTargetSites,
            errors: model is defined? model.getErrors('enableEntriesForTargetSites') : [],
            disabled: liltConfigDisabled
        }) }}
        </div>

        <div class="field">
        {{ forms.checkbox({
            label: 'Copy slug from source entries to target',
            name: 'copyEntriesSlugFromSourceToTarget',
            id: 'copyEntriesSlugFromSourceToTarget',
            checked: copyEntriesSlugFromSourceToTarget,
            errors: model is defined? model.getErrors('copyEntriesSlugFromSourceToTarget') : [],
            disabled: liltConfigDisabled
        }) }}
        </div>

        {{ forms.textField({
            name: 'liltConfigDisabled',
            id: 'liltConfigDisabled',
            value: liltConfigDisabled,
            class: 'hidden'
        }) }}

        <div class="buttons">
            <button type="submit" class="btn submit">{{ 'Update configuration'|t('craft-lilt-plugin') }}</button>
            <div class="utility-status"></div>
        </div>

    </form>
</div>
